---
import BaseHead from '../components/BaseHead.astro';
import Body from '../components/Body.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>

	<Body>
		<Header />
		<main>
			<section>
				<ul class="flex flex-col gap-y-4">
					{
						posts.map((post) => (
							<a href={post.url}>
								<li class="flex flex-col gap-y-1 p-4 rounded-lg bg-gray-200 hover:bg-white dark:bg-gray-900 hover:dark:bg-gray-700 transition-all">
									<h2 class="text-lg font-semibold">
										{post.frontmatter.title}
									</h2>
									<p>
										{post.frontmatter.description}
									</p>
									<time
										class="text-sm text-gray-700 dark:text-gray-300"
										datetime={post.frontmatter.pubDate}
									>
										{new Date(post.frontmatter.pubDate).toLocaleDateString('en-us', {
											year: 'numeric',
											month: 'short',
											day: 'numeric',
										})}
									</time>
								</li>
							</a>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</Body>
</html>
