---
import BaseHead from '../components/BaseHead.astro';
import Body from '../components/Body.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		updatedDate?: string;
		heroImage?: string;
		tags?: string[];
	};
}

const {
	content: {
		title,
		description,
		pubDate,
		updatedDate,
		heroImage,
		tags,
	},
} = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<Body>
		<Header />
		<main>
			<article class="flex flex-col gap-y-2">
				{heroImage && (
					<img
						class="rounded-lg h-60 object-cover"
						src={heroImage}
						alt={title}
					/>
				)}
				<h1 class="text-4xl font-bold">{title}</h1>
				<p>{description}</p>
				{pubDate && <time class="text-sm text-gray-500">{pubDate}</time>}
				{
					updatedDate && (
						<div class="text-sm text-gray-500">
							Last updated on <time>{updatedDate}</time>
						</div>
					)
				}
				<div class="flex gap-1">
					{
						tags?.map(tag => (
							<span class="text-xs font-bold py-1 px-2 rounded-md bg-gray-200 text-gray-600  dark:bg-gray-900 dark:text-gray-400">{tag}</span>
						))
					}
				</div>
				<slot />
			</article>
		</main>
		<Footer />
	</Body>
</html>
